#profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    padding: 70px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 700px;
    position: relative;
    top: 60px;
}

#profile-top {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#avatar {
    width: 200px;
    height: 200px;
    border-radius: 3vh;
    border: 3px ridge #006d77;
    margin-right: 115px;
}

.profile-txt {
    white-space: nowrap;
    font-size: 17px;
    color: #333;
}

#profile-buttons {
    display: flex;
    gap: 15px;
    margin-top: 15px;
    justify-content: center;
    align-items: center;
}

.container-profile-btn {
    flex: 1;
}

.profile-btn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: auto;
    height: 60px;
    padding: 0px 50px;
    font-size: 1rem;
    background-color: #006d77;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.profile-btn:hover {
    background-color: #098894;
}

#profile-container.update-mode {
    padding: 70px;
    width: 700px;
}

#profile-top.update-mode {
    margin: none;
}

#infos-section.update-mode {
    font-size: 1rem;
}

label {
    color: #333;
    font-size: 0.9rem;
    flex-shrink: 0;
    gap: 5px;
}

.edit-input {
    width: 170px;
    height: 35px;
    font-size: 0.9rem;
    padding: 6px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin: 2px;
}

label[for="email_input"] {
    margin-right: 30px;
}

label[for="avatar_input"] {
    font-size: 15px;
    color: #333;
    margin-right: 20px;
}

.edit-input[type="file"] {
    height: 45px;
    border: 2px solid #ccc;
    padding: 6px;
    border-radius: 5px;
    color: #333;
}

#avatar-input {
    color: #333;
}

#file-preview {
    margin-top: 10px;
    font-size: 10px;
    color: #333;
    font-style: italic;
    text-align: right;
    float: right;
}

#button-container {
    display: inline-block;
    margin-top: 20px;
}

.profile-button {
    margin-left: 30px;
    margin-top: 30px;
    margin-right: 10px;
    font-size: 1rem;
    background-color: #006d77;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#save-button-edit,
#previous-button {
    display: inline-block;
}

#save-button-edit:hover,
#previous-button:hover {
    background-color: #098894;
}
